In [13]:
from sklearn.model_selection import cross_val_score
>>> from sklearn.ensemble import RandomForestClassifier
>>> from sklearn.ensemble import ExtraTreesClassifier
>>> from sklearn.tree import DecisionTreeClassifier
import pandas as pd

In [14]:
nurse_df = pd.read_csv('../output_data/model_data.csv')
nurse_df.head()

,Cum GPA,TEAS Count,MaxOfTestScore,failing grade count,Time to Test (days),Completion Time (days),PrecEducDesc,Grade,GradePass,HighSchool,Assoc,Bach,Masters
0,2.84,1.0,76.0,0,209.00,591.0,High School/GED/Some College,Pass,1.0,1.0,0.0,0.0,0.0
1,3.14,1.0,74.7,0,73.00,467.0,High School/GED/Some College,Pass,1.0,1.0,0.0,0.0,0.0
2,3.22,1.0,75.3,0,84.51,578.0,High School/GED/Some College,Pass,1.0,1.0,0.0,0.0,0.0
3,3.29,2.0,77.3,0,60.00,591.0,High School/GED/Some College,Fail,0.0,1.0,0.0,0.0,0.0
4,3.38,2.0,72.7,0,80.33,600.0,Associates,Pass,1.0,0.0,1.0,0.0,0.0

In [15]:
X = nurse_df[["Cum GPA", "TEAS Count","MaxOfTestScore","failing grade count","Time to Test (days)","Completion Time (days)",
        "HighSchool", "Assoc","Bach","Masters"]]

In [17]:
nurses_df = nurse_df.drop(['PrecEducDesc', 'Grade'], axis=1)
nurses_df.head()

,Cum GPA,TEAS Count,MaxOfTestScore,failing grade count,Time to Test (days),Completion Time (days),GradePass,HighSchool,Assoc,Bach,Masters
0,2.84,1.0,76.0,0,209.00,591.0,1.0,1.0,0.0,0.0,0.0
1,3.14,1.0,74.7,0,73.00,467.0,1.0,1.0,0.0,0.0,0.0
2,3.22,1.0,75.3,0,84.51,578.0,1.0,1.0,0.0,0.0,0.0
3,3.29,2.0,77.3,0,60.00,591.0,0.0,1.0,0.0,0.0,0.0
4,3.38,2.0,72.7,0,80.33,600.0,1.0,0.0,1.0,0.0,0.0

In [18]:
target = nurse_df["GradePass"]
target_names = ["negative", "positive"]

In [20]:
data = nurses_df.drop("GradePass", axis=1)
feature_names = data.columns
data.head()

,Cum GPA,TEAS Count,MaxOfTestScore,failing grade count,Time to Test (days),Completion Time (days),HighSchool,Assoc,Bach,Masters
0,2.84,1.0,76.0,0,209.00,591.0,1.0,0.0,0.0,0.0
1,3.14,1.0,74.7,0,73.00,467.0,1.0,0.0,0.0,0.0
2,3.22,1.0,75.3,0,84.51,578.0,1.0,0.0,0.0,0.0
3,3.29,2.0,77.3,0,60.00,591.0,1.0,0.0,0.0,0.0
4,3.38,2.0,72.7,0,80.33,600.0,0.0,1.0,0.0,0.0

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target)

In [29]:
rf = ExtraTreesClassifier(n_estimators=50, max_depth=4)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7166123778501629

In [30]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.46609146993858613, 'Cum GPA'),
 (0.12640535169082914, 'failing grade count'),
 (0.09672021777590031, 'Completion Time (days)'),
 (0.0869154304104033, 'Time to Test (days)'),
 (0.08125493647503493, 'TEAS Count'),
 (0.061529405028108594, 'MaxOfTestScore'),
 (0.04626564072033969, 'Bach'),
 (0.019368542210017436, 'HighSchool'),
 (0.009763858655231225, 'Masters'),
 (0.005685147095549362, 'Assoc')]

In [32]:
result = nurses_df.values
pd.DataFrame(result)

         0    1     2    3       4      5    6    7    8    9   10
0     2.84  1.0  76.0  0.0  209.00  591.0  1.0  1.0  0.0  0.0  0.0
1     3.14  1.0  74.7  0.0   73.00  467.0  1.0  1.0  0.0  0.0  0.0
2     3.22  1.0  75.3  0.0   84.51  578.0  1.0  1.0  0.0  0.0  0.0
3     3.29  2.0  77.3  0.0   60.00  591.0  0.0  1.0  0.0  0.0  0.0
4     3.38  2.0  72.7  0.0   80.33  600.0  1.0  0.0  1.0  0.0  0.0
...    ...  ...   ...  ...     ...    ...  ...  ...  ...  ...  ...
1220  3.95  1.0  86.0  0.0  101.53  481.0  1.0  0.0  0.0  1.0  0.0
1221  3.64  1.0  77.3  0.0   27.00  481.0  1.0  0.0  0.0  1.0  0.0
1222  3.43  1.0  78.0  0.0   80.00  481.0  1.0  0.0  0.0  1.0  0.0
1223  3.43  1.0  88.0  0.0   72.00  481.0  1.0  0.0  0.0  1.0  0.0
1224  3.78  1.0  80.7  0.0   28.00  481.0  1.0  0.0  0.0  1.0  0.0

[1225 rows x 11 columns]